<template>
    <table class="table table-responsive table-striped" id="inventoryTable">
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Available Warehouse</th>
            <th class="text-right">Qty On Hand</th>
            <th class="text-right">Excl. Price</th>
            <th class="text-right">Tax</th>
            <th class="text-right">Inclusive Price</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</template>

<script>
    import {httpRequest} from '../../core/http';

    export default {
        ready() {
            this.getInventory();
        },
        data() {
            return {
                inventories: [],
                currentPage: 1,
                lastPage: 1,
                previousUrl: '',
                nextUrl: '',
                showPaginator: false,
                searchKey: ''
            };
        },
        methods: {
            search() {
                httpRequest(this, 'get', '/inventory?q=' + this.searchKey, {}, this.updatePage);
            },
            getInventory() {
                $(document).ready(function() {
                    $('#inventoryTable').DataTable( {
                        "ajax": '/inventory'
                    } );
                } );
                this.$http.get('/inventory').then((response) => {
                    this.updatePage(JSON.parse(response.body));
                }, (response) => {
                    console.log(response);
                });
            },

            updatePage(responseData) {
                this.showPaginator = false;
                this.inventories = responseData.data;
                this.currentPage = responseData.current_page;
                this.lastPage = responseData.last_page;
                this.previousUrl = responseData.prev_page_url;
                this.nextUrl = responseData.next_page_url;

                if (this.lastPage > 1) {
                    this.showPaginator = true;
                }

                this.$broadcast('updatePagination', {
                    currentPage : responseData.current_page,
                    lastPage : responseData.last_page,
                    previousUrl : responseData.prev_page_url,
                    nextUrl : responseData.next_page_url
                });
            },

            fetchData(url) {
                this.$http.get(url).then((response) => {
                    this.updatePage(JSON.parse(response.body));
                }, (response) => {
                    console.log(response);
                });
            },

            getTax(inventory) {
                return (Number.parseFloat(inventory.fInclPrice) - Number.parseFloat(inventory.fExclPrice)).toLocaleString();
            }
        }
    }
</script>
