<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Petty Cash Types
                        <button class="btn btn-success btn-xs pull-right" @click.prevent="create">Add new</button>
                    </div>

                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Module</th>
                                <th>Transaction Type</th>
                                <th>Affected Account</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="type in types">
                                <td><a href="#" @click.prevent="edit(type)">{{ type.name }}</a></td>
                                <td>{{ getModule(type.module_id) }}</td>
                                <td>{{ type.transaction_type }}</td>
                                <td>{{ type.account.Description }}</td>
                                <td class="text-center"><a href="#" @click.prevent="deleteItem(type)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>

                        <paginator v-if="showPaginator"
                                   :current-page="currentPage" :last-page="lastPage"
                                   :previous-url="previousUrl" :next-url="nextUrl"
                                   @change-page="navigate">
                        </paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-create" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        {{ inputForm.action == 'create' ? 'Add ' : 'Edit' }} Petty cash type.
                    </h4>
                </div>
                <form class="form-horizontal" role="form" @submit.prevent="persistChanges">
                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="inputForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in inputForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label col-sm-3">Petty Cash Name*</label>
                            <div class="col-sm-9">
                                <input name="create" id="create" v-model="inputForm.name" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Cashbook*</label>
                            <div class="col-sm-9">
                                <select v-model="inputForm.cashbook_batch_id" class="form-control" required>
                                    <option v-for="batch in batches" :value="batch.idBatches">{{ batch.cBatchNo }} - {{ batch.cBatchDesc }}</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-3">Module*</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select v-model="inputForm.module_id" class="form-control" required>-->
                                    <!--<option value="0">General Ledger</option>-->
                                    <!--<option value="1">Accounts Receivable</option>-->
                                    <!--<option value="2">Accounts Payable</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-3">Transaction Type*</label>
                            <div class="col-sm-9">
                                <select v-model="inputForm.transaction_type" class="form-control" required>
                                    <option value="Debit">Debit</option>
                                    <option value="Credit">Credit</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Account To Use*</label>

                            <div class="col-sm-9">
                                <select v-model="inputForm.account_id" class="form-control" required>
                                    <option v-for="account in accounts" :value="account.AccountLink">{{ account.Description }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-success">
                            {{ inputForm.action == 'create' ? 'Create' : 'Update Changes' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { httpRequest } from '../../core/http';

    export default {
        ready() {
            this.getPetty();
            this.setListeners();
        },
        data() {
            return {
                types: [],
                accounts: [],
                batches: [],
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null,
                    module_id: '',
                    cashbook_batch_id: '',
                    account_id: '',
                    name: '',
                    transaction_type: ''
                },
                currentPage: 1,
                lastPage: 1,
                previousUrl: '',
                nextUrl: '',
                showPaginator: false
            };
        },
        methods: {
            getModule(moduleId) {
                return moduleId == 0 ? 'General Ledger' : (moduleId == 1 ? 'Accounts Receiveable': 'Accounts Payable');
            },

            setListeners() {
                let that = this;

                $('#create').select2().on('change', function () {
                    that.inputForm.user_id = $(this).val();
                }).on('shown.bs.modal', () => {
                    $('#create-name').focus();
                });

                $('#warehouses').select2().on('change', function () {
                    that.inputForm.warehouse_id = $(this).val();
                });
            },

            getPetty() {
                httpRequest(this, 'get', '/petty-types', this.inputForm, this.updatePage);
            },

            navigate(uri) {
                httpRequest(this, 'get', uri, this.inputForm, this.updatePage);
            },

            resetForm() {
                this.inputForm.action = 'create';
                this.inputForm.errors = [];
                this.inputForm.id = null;
                this.inputForm.module_id = '';
                this.inputForm.cashbook_batch_id = '';
                this.inputForm.account_id = '';
                this.inputForm.name = '';
            },

            persistChanges() {
                if (this.inputForm.action == 'create') {
                    httpRequest(this, 'post', '/petty-types', this.inputForm, this.postPersist);

                    return true;
                }

                httpRequest(this, 'put', '/petty-types/' + this.inputForm.id, this.inputForm, this.postPersist);
            },

            updatePage(responseData) {
                this.showPaginator = false;
                if (! responseData.hasOwnProperty('data')) {
                    this.types = responseData;
                    return true;
                }
                this.types = responseData.data;
                this.currentPage = responseData.current_page;
                this.lastPage = responseData.last_page;
                this.previousUrl = responseData.prev_page_url;
                this.nextUrl = responseData.next_page_url;

                if (this.lastPage > 1) {
                    this.showPaginator = true;
                }

                this.$broadcast('updatePagination');
            },

            postPersist(responseData) {
                this.resetForm();
                $('#modal-create').modal('hide');
                notify('success', 'Petty Cash', 'Successfully added new petty cash type.');
                this.updatePage(responseData);
            },

            create() {
                this.resetForm();
                this.inputForm.action = 'create';
                httpRequest(this, 'get', '/petty-types?accounts=true', this.inputForm, (response) => {
                    this.accounts = response;
                    httpRequest(this, 'get', '/petty-types?batches=true', this.inputForm, (batchResponse) => {
                        this.batches = batchResponse;
                        $('#modal-create').modal('show');
                    });
                });
            },

            edit(item) {
                this.resetForm();
                this.inputForm.id = item.id;
                this.inputForm.module_id = item.module_id;
                this.inputForm.cashbook_batch_id = item.cashbook_batch_id;
                this.inputForm.account_id = item.account_id;
                this.inputForm.name = item.name;
                this.inputForm.transaction_type = item.transaction_type;
                this.inputForm.action = 'edit';

                httpRequest(this, 'get', '/petty-types?accounts=true', this.inputForm, (response) => {
                    this.accounts = response;
                    httpRequest(this, 'get', '/petty-types?batches=true', this.inputForm, (batchResponse) => {
                        this.batches = batchResponse;
                        $('#modal-create').modal('show');
                    });
                });
            },

            deleteItem(type) {
                notify('warning', 'Petty Cash Types', 'Deleting this petty cash type will prevent the user from making petty cash transactions. Are you sure?', true, true, () => {
                    httpRequest(this, 'delete', '/petty-types/' + type.id, this.inputForm, (response) => {
                        notify('success', 'Petty Cash Types', 'Successfully deleted petty cash type.');
                        this.updatePage(response);
                    });
                });
            }
        }
    }
</script>
