<template>
    <div v-if="showTransactions" class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#creditLimit" aria-controls="creditLimit" role="tab" data-toggle="tab">Credit Limit <span class="badge" v-show="creditLimits.length > 0">{{ creditLimits.length }}</span></a></li>
                            <li role="presentation"><a href="#creditNote" aria-controls="creditNote" role="tab" data-toggle="tab">Credit Notes <span class="badge" v-show="creditNotes.length > 0">{{ creditNotes.length }}</span></a></li>
                            <li role="presentation"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab">Pricing <span class="badge" v-show="payments.length > 0">{{ payments.length }}</span></a></li>
                            <li role="presentation"><a href="#discount" aria-controls="discount" role="tab" data-toggle="tab">Discount <span class="badge" v-show="discounts.length > 0">{{ discounts.length }}</span></a></li>
                            <li role="presentation"><a href="#salesOrder" aria-controls="salesOrder" role="tab" data-toggle="tab">Sales Order <span class="badge" v-show="salesOrders.length > 0">{{ salesOrders.length }}</span></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="creditLimit">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Type</th>
                                        <th>Client</th>
                                        <th>Store</th>
                                        <th>Requester</th>
                                        <th class="text-right">Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="transaction in creditLimits" :class="{'bg-danger' : transaction.amount < 0}">
                                        <td>TR-{{ transaction.id }}</td>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.client }}</td>
                                        <td>{{ transaction.warehouseName }}</td>
                                        <td>{{ transaction.creator.name }}</td>
                                        <td class="text-right">{{ formatNumeral(transaction.amount) }}</td>
                                        <td class="text-center">
                                            <a href="#" @click.prevent="approveTransaction(transaction)"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpane2" class="tab-pane fade" id="creditNote">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Type</th>
                                        <th>Client</th>
                                        <th>Store</th>
                                        <th>Requester</th>
                                        <th class="text-right">Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="transaction in creditNotes" :class="{'bg-danger' : transaction.amount < 0}">
                                        <td>TR-{{ transaction.id }}</td>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.client }}</td>
                                        <td>{{ transaction.warehouseName }}</td>
                                        <td>{{ transaction.creator.name }}</td>
                                        <td class="text-right">{{ formatNumeral(transaction.amount) }}</td>
                                        <td class="text-center">
                                            <a href="#" @click.prevent="approveTransaction(transaction)"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpane3" class="tab-pane fade" id="pricing">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Type</th>
                                        <th>Client</th>
                                        <th>Store</th>
                                        <th>Requester</th>
                                        <th class="text-right">Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="transaction in payments" :class="{'bg-danger' : transaction.amount < 0}">
                                        <td>TR-{{ transaction.id }}</td>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.client }}</td>
                                        <td>{{ transaction.warehouseName }}</td>
                                        <td>{{ transaction.creator.name }}</td>
                                        <td class="text-right">{{ formatNumeral(transaction.amount) }}</td>
                                        <td class="text-center">
                                            <a href="#" @click.prevent="approveTransaction(transaction)"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpane5" class="tab-pane fade" id="discount">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Type</th>
                                        <th>Client</th>
                                        <th>Store</th>
                                        <th>Requester</th>
                                        <th class="text-right">Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="transaction in discounts" :class="{'bg-danger' : transaction.amount < 0}">
                                        <td>TR-{{ transaction.id }}</td>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.client }}</td>
                                        <td>{{ transaction.warehouseName }}</td>
                                        <td>{{ transaction.creator.name }}</td>
                                        <td class="text-right">{{ formatNumeral(transaction.amount) }}</td>
                                        <td class="text-center">
                                            <a href="#" @click.prevent="approveTransaction(transaction)"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpane4" class="tab-pane fade" id="salesOrder">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Type</th>
                                        <th>Client</th>
                                        <th>Store</th>
                                        <th>Requester</th>
                                        <th class="text-right">Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="transaction in salesOrders" :class="{'bg-danger' : transaction.amount < 0}">
                                        <td>TR-{{ transaction.id }}</td>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.client }}</td>
                                        <td>{{ transaction.warehouseName }}</td>
                                        <td>{{ transaction.creator.name }}</td>
                                        <td class="text-right">{{ formatNumeral(transaction.amount) }}</td>
                                        <td class="text-center">
                                            <a href="#" @click.prevent="approveTransaction(transaction)"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pos-index v-if="reverseSale || completeSale" @cancelreturn="cancelReturn"></pos-index>
</template>

<script>
    import { httpRequest } from '../../core/http';

    export default {
        ready() {
            this.getTransactions();
        },
        data() {
            return {
                creditLimits: [],
                creditNotes: [],
                payments: [],
                discounts: [],
                salesOrders: [],
                showTransactions: true,
                completeSale: false,
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null
                }
            };
        },
        methods: {
            getTransactions() {
                httpRequest(this, 'get', '/approvals', this.inputForm, this.updatePage);
            },
            updatePage(responseData) {
                responseData.forEach((value) => {
                    if (value.transaction_type == 'Pending Approval: Credit Limit') {
                        this.creditLimits.push(value);
                    }

                    if (value.transaction_type == 'Pending Approval: Payment') {
                        this.payments.push(value);
                    }

                    if (value.transaction_type == 'Pending Approval: Discount') {
                        this.discounts.push(value);
                    }

                    if (value.transaction_type == 'Pending Approval: Return of Goods') {
                        this.creditNotes.push(value);
                    }

                    if (value.transaction_type == 'Pending Approval: Sales Order') {
                        this.salesOrders.push(value);
                    }
                });

                this.transactions = responseData;
            },
            approveTransaction(transaction) {
                this.completeSale = true;
                this.showTransactions = false;
                setTimeout(() => {
                    this.$broadcast('approving-sale', transaction);
                }, 100);
            },

            cancelReturn() {
                this.reverseSale = false;
                this.completeSale = false;
                this.showTransactions = true;
                this.creditLimits = [];
                this.creditNotes = [];
                this.payments = [];
                this.discounts = [];
                this.salesOrders = [];
                this.getTransactions();
            },

            formatNumeral(number) {
                let formatted = numeral(number).format('0,0.00');
                if (number < 0) {
                    formatted = '(' + formatted.substr(1, formatted.length) + ')';
                }
                return formatted;
            },
        }
    }
</script>
