<template>
    <table class="table table-hover table-stripped table-responsive" id="clientsTable">
        <thead>
        <tr>
            <th>Account #</th>
            <th>Name</th>
            <th>Telephone</th>
            <th>EMail</th>
            <th class="text-right">Credit Limit</th>
            <th class="text-right">DCBalance</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="client in clients">
            <td>{{ client.Account }}</td>
            <td>{{ client.Name }}</td>
            <td>{{ client.Telephone }}</td>
            <td>{{ client.EMail }}</td>
            <td class="text-right">{{ client.Credit_Limit == null ? 0 : formatNumber(client.Credit_Limit) }}</td>
            <td class="text-right">{{ client.DCBalance == null ? 0 : formatNumber(client.DCBalance) }}</td>
            <td class="text-center"><button class="btn btn-success btn-xs add-item" @click="selectClient(client)"><i class="fa fa-plus"> Select</i></button></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import Numbers from '../../mixins/numbers.vue';

    export default {
        mixins: [
            Numbers
        ],

        props: {
            clients: {
                required: true,
                type: Array
            }
        },

        methods: {
            selectClient(client) {
                this.$emit('add', client);
            }
        }
    }
</script>
