<template>
    <div class="shortcuts">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span v-show="! isCheckingOut" class="badge"><strong>ESC</strong> - Enter Item</span>
                    <span v-show="onCartItem" class="badge"><strong>F4</strong> - Price Tip</span>
                    <span class="badge"><strong>F9</strong> - {{ isCheckingOut ? 'Checkout' : 'Complete Sale' }}</span>
                    <!--<span v-show="isCheckingOut" class="badge"><strong>F8</strong> - Change Transaction Type</span>-->
                    <span v-show="isCheckingOut" class="badge"><strong>ESC</strong> - Back</span>
                    <span v-show="isCheckingOut" class="badge"><strong>TAB</strong> - Change Field</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pos">
        <div class="row" v-show="! isCheckingOut">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default" style="margin-bottom: 0 !important;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button class="btn btn-danger" style="margin-left: 10px" @click="cancelReturn" v-if="(completion || reversal)">
                                            Back
                                        </button>
                                        <button class="btn btn-success" style="margin-left: 10px" @click="checkout()" id="checkout">
                                            {{ reversal ? 'Complete Return' : (approving ? 'Process Request' : 'Complete Sale') }}
                                        </button>
                                        <button class="btn btn-primary" style="margin-left: 10px" @click="saveTransaction" v-show="! reversal && ! approving && ! completion">
                                            Save Transaction
                                        </button>
                                        <button class="btn btn-danger" style="margin-left: 10px" @click="voidSale" v-show="! reversal && ! approving && ! completion">
                                            Void Sale
                                        </button>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="pull-right">
                                                    <div class="col-sm-12 text-right">DISCOUNT</div>
                                                    <div class="col-sm-12 text-right"><h4>{{ formatNumber(totalDiscount) }}</h4></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="pull-right">
                                                    <div class="col-sm-12 text-right">SALE TOTAL</div>
                                                    <div class="col-sm-12 text-right"><h4>{{ formatNumber(netPrice) }}</h4></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-right"><strong>TOTAL WEIGHT: </strong> {{ formatNumber(totalWeight) }}KGs</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default" v-show="! isCheckingOut">
                    <div class="panel-heading">
                        <div class="row">
                            <template v-if="showCustomerSearch">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">Customer</span>
                                        <input type="text" class="form-control" placeholder="Customer Name or Phone Number" v-model="customer" id="clientSearchText">
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="col-sm-6">
                                    <h5 class="pull-left">{{ currentCustomer.Account }} - {{ currentCustomer.Name }}</h5>
                                    <div class="pull-right">
                                        <span class="btn btn-warning btn-xs" @click="changeCustomer" v-if="! reversal" v-show="locked != 1">CHANGE CUSTOMER</span>
                                        <button type="button" data-toggle="modal" data-target="#newCustomer" class="btn btn-success btn-xs">Add Customer</button>
                                        <div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Add New Customer</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="">
                                                            <div class="form-group">
                                                                <label for="customerName">Name</label>
                                                                <input type="text" v-model="customerName" name="customerName" class="form-control"
                                                                       id="customerName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="customerTelephone">Telephone</label>
                                                                <input type="text" v-model="customerTelephone" name="customerTelephone" class="form-control"
                                                                       id="customerTelephone">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" @click="addCustomer()">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-right">
                                    <h5>Credit Limit: {{ currentCustomer.Credit_Limit == null ? 0 : formatNumber(currentCustomer.Credit_Limit) }}</h5>
                                </div>
                                <div class="col-sm-3 text-right">
                                    <h5>Account Balance: {{ currentCustomer.DCBalance == null ? 0 : formatNumber(currentCustomer.DCBalance) }}</h5>
                                </div>
                            </template>
                            <template v-if="showProjectSearch">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">Project</span>
                                        <input type="text" class="form-control" placeholder="Customer Name or Phone Number" v-model="customer" id="projectSearchText">
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="col-sm-6">
                                    <h5 class="pull-left">{{ currentProject.ProjectCode }} - {{ currentProject.ProjectName }}</h5>
                                    <div class="pull-right">
                                        <span class="btn btn-warning btn-xs" @click="changeProject()">CHANGE PROJECT</span>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <client-search :clients="customers" v-show="searchClient" @add="updateCustomer"></client-search>
                </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="row">
                            <div class="col-sm-6" v-if="! reversal && settings.code_only_search == 'Yes'">
                                <div class="input-group">
                                    <span class="input-group-addon">Search By Code</span>
                                    <input id="itemCodeSearch" type="text" class="form-control" placeholder="Barcode or Item Code" v-model="itemCodeSearch" :readonly="locked == 1">
                                </div>
                            </div>
                            <div :class="settings.code_only_search == 'Yes' ? 'col-sm-6' : 'col-sm-12'">
                                <div class="input-group" v-show="! reversal">
                                    <span class="input-group-addon">Search Item</span>
                                    <input id="itemSearch" type="text" class="form-control" placeholder="Search..." v-model="stockItem" :readonly="locked == 1">
                                </div>
                            </div>
                        </div>

                        <product-search :products="products" v-show="searchProduct" @add="insertToCart"></product-search>

                        <table class="table table-responsive table-striped" id="cartTable">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th class="text-right">{{ reversal ? 'Bought' : 'In Stock' }}</th>
                                    <th class="text-right">UOM</th>
                                    <th class="text-right">{{ reversal ? 'Returned ' : '' }}Quantity</th>
                                    <th class="text-right">Unit Price</th>
                                    <th class="text-right">Discount</th>
                                    <th class="text-right">Total Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in cart" :class="{ 'duplicate': item.duplicate }">
                                    <td>{{ item.Code }}</td>
                                    <td>{{ item.Description_1 }}</td>
                                    <td class="text-right">{{ reversal ? formatNumber(item.soldQuantity) : Math.trunc(item.WHQtyOnHand) }}</td>
                                    <td class="text-right">
                                        <select class="saleInput" v-model="item.measure" @change="updateItem(item)" :disabled="locked == 1">
                                            <option v-for="conversion in item.conversions" :value="conversion">{{ conversion.name }}</option>
                                        </select>
                                    </td>
                                    <td class="text-right">
                                        <input class="text-center saleInput quantity" :min="reversal ? 0 : 1" :max="reversal ? item.soldQuantity : item.WHQtyOnHand" type="number" v-model="item.quantity" @change="validateQty(item)" onfocus="this.select()" number :readonly="locked == 1">
                                    </td>
                                    <td class="text-right">
                                        <input type="number" class="text-center saleInput unitPrice" min="{{ item.secondPrice }}" @change="validateLowestPrice(item)" v-model="item.sellingPrice" onfocus="this.select()" number :readonly="locked == 1">
                                    </td>
                                    <td class="text-right">
                                        <input number min="0" :max="settings.discount_type.toUpperCase() == 'AMOUNT' ? settings.discount_amount : (parseFloat(settings.discount_amount) / 100) * parseFloat(item.secondPrice)" class="text-center saleInput discount" onfocus="this.select()" type="number"
                                            v-model="item.discount" :readonly="locked == 1">
                                    </td>
                                    <td class="text-right">{{ getTotal(item) }}</td>
                                    <td>
                                        <button class="btn btn-xs btn-primary view-price" @click.prevent="viewPrice(item)" v-if="! locked"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-xs btn-danger delete" @click.prevent="removeItem(item)" v-if="! locked"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<div class="panel panel-success" v-show="isCheckingOut">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-5">
                <button class="btn btn-danger" @click="cancelCheckout"><i class="fa fa-backward"></i> Back</button>
                <br>
                <h5>{{ currentCustomer.Account }} - {{ currentCustomer.Name }}</h5>
                <h5>Credit Limit: {{ currentCustomer.Credit_Limit == null ? 0 : formatNumber(currentCustomer.Credit_Limit) }}</h5>
                <h5>Account Balance: {{ currentCustomer.DCBalance == null ? 0 : formatNumber(currentCustomer.DCBalance) }}</h5>
            </div>

            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Total Sale Amount</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <h4>{{ formatNumber(netPrice) }}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4>Amount Due</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <h4>{{ this.formatNumber(amountDue) }}</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row changeRow">
                            <div class="col-sm-6">
                                <h4>Change</h4>
                            </div>
                            <div class="col-sm-6 text-right">
                                <h4>{{ change }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-1"><strong>CODE</strong></div>
                    <div class="col-sm-2 text-right"><strong>RATE</strong></div>
                    <div class="col-sm-3 text-right"><strong>NET AMT</strong></div>
                    <div class="col-sm-3 text-right"><strong>VAT AMT</strong></div>
                    <div class="col-sm-3 text-right"><strong>TOTAL AMT</strong></div>

                    <div class="col-sm-1">A</div>
                    <div class="col-sm-2 text-right">{{ totalTaxA.rate }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxA.total }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxA.amount }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxA.inclusive }}</div>

                    <div class="col-sm-1">E</div>
                    <div class="col-sm-2 text-right">{{ totalTaxE.rate }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxE.total }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxE.amount }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxE.inclusive }}</div>

                    <div class="col-sm-1">Z</div>
                    <div class="col-sm-2 text-right">{{ totalTaxZ.rate }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxZ.total }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxZ.amount }}</div>
                    <div class="col-sm-3 text-right">{{ totalTaxZ.inclusive }}</div>
                </div>
                <div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <strong>TOTAL WEIGHT: </strong> {{ formatNumber(totalWeight) }}KGs
                            </div>
                            <label for="transaction_type">Transaction Type</label>
                            <select v-model="transaction_type" id="transaction_type" class="form-control" @change="changeTransaction" disabled>
                                <option value="0">Normal Sale</option>
                                <option value="1">Sales Order</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="remark">Comment</label>
                            <textarea :readonly="locked == 1" class="form-control" name="remark" id="remark" cols="30" rows="5" v-model="remark"></textarea>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-success" @click.prevent="finalizeSale" v-if="! approving">
                        {{ approval ? 'Request Approval' : (reversal ? 'Complete Return' : 'Checkout') }}
                    </button>
                    <template v-else>
                        <button class="btn btn-success" @click="finalizeSale(true)">Approve Request</button>
                        <button class="btn btn-danger" @click="finalizeSale(false)">Decline Request</button>
                    </template>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row saleTotal">
                    <h5 class="col-sm-4"><strong>TENDER</strong></h5>
                    <h5 class="col-sm-4"><strong>REFERENCE</strong></h5>
                    <h5 class="col-sm-4"><strong>AMOUNT</strong></h5>
                </div>
                <div class="row saleTotal">
                    <div class="col-sm-4">
                        <h5>CASH</h5>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input @keyup="validateAmount(cashAmount)" type="number" id="cash-amount" min="0" onfocus="this.select()" class="text-right form-control" v-model="cashAmount" :readonly="(locked == 1 && original_transaction_type == 0) || transaction_type == 1 || paymentsLock">
                    </div>
                </div>
                <div class="row saleTotal">
                    <div class="col-sm-4">
                        <h5>CREDIT</h5>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="credit-reference" onfocus="this.select()" class="form-control" v-model="creditReference" :readonly="(locked == 1 && original_transaction_type == 0) || transaction_type == 1 || paymentsLock">
                    </div>
                    <div class="col-sm-4">
                        <input @keyup="validateAmount(creditAmount)" type="number" id="credit-amount" min="0" onfocus="this.select()" class="text-right form-control" v-model="creditAmount" :readonly="(locked == 1 && original_transaction_type == 0) || transaction_type == 1 || paymentsLock">
                    </div>
                </div>
                <div class="row saleTotal" v-for="(key, mpesaDetails) in mpesa">
                    <div class="col-sm-4">
                        <h5>
                            M-PESA
                            <span v-if="key+1 == mpesa.length" style="cursor: pointer" class="fa fa-plus" @click="addMpesa"></span>
                            <span v-if="key > 0" style="cursor: pointer" class="fa fa-times" @click="removeMpesa(mpesaDetails)"></span>
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="mpesa-reference" onfocus="this.select()" class="form-control" v-model="mpesaDetails.reference" :readonly="(locked == 1 && original_transaction_type == 0) || transaction_type == 1 || paymentsLock">
                    </div>
                    <div class="col-sm-4">
                        <input @keyup="validateAmount(mpesaDetails.amount)" type="number" id="mpesa-amount" min="0" onfocus="this.select()" class="text-right form-control" v-model="mpesaDetails.amount" :readonly="(locked == 1 && original_transaction_type == 0) || transaction_type == 1 || paymentsLock">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<div class="priceTip">
    <table cellpadding="0" cellspacing="5">
        <tr>
            <th width="150px"></th>
            <th width="70px" class="text-right">STK</th>
            <th width="70px" class="text-right">OUT</th>
        </tr>
        <tr>
            <td>Recommended Price:</td>
            <td class="text-right"><strong>{{ parseFloat(priceInfo.RRPStockingInclPrice).toLocaleString() }}</strong></td>
            <td class="text-right"><strong>{{ parseFloat(priceInfo.RRPOutInclPrice).toLocaleString() }}</strong></td>
        </tr>
        <tr>
            <td>Alternate Price:</td>
            <td class="text-right"><strong>{{ parseFloat(priceInfo.AltStockingInclPrice).toLocaleString() }}</strong></td>
            <td class="text-right"><strong>{{ parseFloat(priceInfo.AltOutInclPrice).toLocaleString() }}</strong></td>
        </tr>
    </table>
</div>
</template>

<script>
    import {
        httpRequest
    } from '../../core/http';
    import ProductsSearch from './products.vue';
    import ClientsSearch from './customers.vue';
    import TableMixin from '../../mixins/tables.vue';
    import NumbersMixin from '../../mixins/numbers.vue';

    export default {
        props: [
            {
                type: Object,
                name: 'settings'
            }
        ],
        mixins: [
            TableMixin,
            NumbersMixin
        ],
        components: {
            'product-search': ProductsSearch,
            'client-search': ClientsSearch
        },
        ready() {
            $('.priceTip').slideUp(1);
//            fluentDb.get('settings', 0).then(settings => {
//                this.settings = settings;
//                this.restoreSale();
//            });
            this.restoreSale();
            this.setListeners();
            this.initVariables();
            this.setBinds();
        },

        data() {
            return {
                customerName:'',
                customerTelephone:'',
                searchProduct: false,
                searchClient: false,
                cart: [],
                stockItem: '',
                itemCodeSearch: '',
                amount: 0,
                discount: 0,
                isCheckingOut: false,
                cashAmount: 0,
                creditAmount: 0,
                creditReference: '',
                mpesa: [{
                    reference: '',
                    amount: 0
                }],
                currentCustomer: {},
                currentProject: {},
                showCustomerSearch: true,
                showProjectSearch: true,
                approval: false,
                approving: false,
                completion: false,
                sale: {},
                reason: '',
                locked: 0,
                items: [],
                approved: false,
                showReturn: false,
                inventories: [],
                customer: '',
                customers: [],
                payments: [],
                transaction_type: 0,
                original_transaction_type: 0,
                reversal: false,
                products: [],
                locatingProduct: false,
                locatingCustomer: false,
//                settings: {},
                isSent: false,
                onCartItem: false,
                priceInfo: {
                    RRPStockingInclPrice: 0,
                    RRPOutInclPrice: 0,
                    AltStockingInclPrice: 0,
                    AltOutInclPrice: 0,
                },
                paymentsLock: false,
                remark: ''
            };
        },

        computed: {
            totalItems() {
                let total = 0;
                this.cart.forEach((value) => {
                    total += value.quantity;
                });

                return total;
            },

            totalWeight() {
                let total = 0;
                this.cart.forEach((value) => {
                    let amount = parseFloat(value.ucIIUnitWt) * parseFloat(value.measure.ratio);
                    if (parseFloat(value.measure.ratio) < 0) {
                        amount = parseFloat(value.ucIIUnitWt) / (-parseFloat(value.measure.ratio));
                    }

                    total += value.quantity * amount;
                });

                return total;
            },

            totalPrice() {
                let total = 0;
                this.cart.forEach((value) => {
                    total += (parseFloat(value.sellingPrice) * (isNaN(parseFloat(value.quantity)) ? 0 : parseFloat(value.quantity)));
                });

                return total;
            },

            totalDiscount() {
                if (!this.reversal && this.transaction_type == 0) {
                    if (this.approval && this.reason == 'Discount') {
                        this.approval = false;
                        this.reason = '';
                    }
                }

                let total = 0;
                total += parseFloat(this.discount);

                this.cart.forEach((value) => {
                    total += parseFloat(value.discount);
                });

                if (!this.approval && !this.completion && !this.reversal && total > 0) {
                    this.approval = true;
                    this.reason = 'Discount';
                }

                return total;
            },

            netPrice() {
                return this.totalPrice - this.totalDiscount;
            },

            totalPayments() {
                if (!this.reversal && this.transaction_type == 0) {
                    if (this.approval && this.reason == 'Payment') {
                        this.approval = false;
                        this.reason = '';
                    }
                }

                if (parseFloat(this.creditAmount) > 0 > 0) {
                    if (!this.reversal && !this.completion) {
                        this.approval = true;
                        this.reason = 'Payment';
                    }
                }
                //
                //                if (
                //                        (this.completion && this.sale.transaction_type != "Approved: Sales Order") &&
                //                        (
                //                            (this.completion && this.original_transaction_type == 1) ||
                //                            (! this.completion && this.original_transaction_type == 0)
                //                        )
                //                            && ! this.reversal && parseFloat(this.creditAmount) > 0
                //                ) {
                //                    this.approval = true;
                //                    this.reason = 'Payment';
                //                }

                return parseFloat(this.cashAmount) + parseFloat(this.creditAmount) + parseFloat(this.totalMpesa);
            },

            totalMpesa() {
                let total = 0;
                this.mpesa.forEach((payment) => {
                    total += parseInt(payment.amount);
                });

                return total;
            },

            change() {
                let change = parseFloat(this.totalPayments) - parseFloat(this.netPrice);

                return change < 0 ? 0.00 : this.formatNumber(change);
            },

            amountDue() {
                let change = parseFloat(this.netPrice) - parseFloat(this.totalPayments);

                return change < 0 ? 0 : change;
            },

            totalTaxA() {
                let tax = {
                    rate: '16%',
                    inclusive: 0,
                    total: 0,
                    amount: 0
                };
                tax = this.allocateTax('14', tax);

                return tax;
            },

            totalTaxE() {
                let tax = {
                    rate: '0%',
                    inclusive: 0,
                    total: 0,
                    amount: 0
                };
                tax = this.allocateTax('15', tax);
                tax.total = this.formatNumber(0);

                return tax;
            },

            totalTaxZ() {
                let tax = {
                    rate: '0%',
                    inclusive: 0,
                    total: 0,
                    amount: 0
                };
                tax = this.allocateTax('16', tax);
                tax.total = this.formatNumber(0);

                return tax;
            },
        },

        watch: {
            itemCodeSearch() {
                this.searchProducts(true);
            },
            stockItem() {
                this.searchProducts();
            },
            customer() {
                this.searchClients();
            }
        },

        methods: {

            addCustomer(){
                if (this.customerName !== '' && !this.customerTelephone !== ''){
                    axios.post('/add-customer',{
                        customerName: this.customerName,
                        customerTelephone: this.customerTelephone
                    })
                        .then(function (response){

                            console.log(this.customers);
                    })
                        .catch(function (response) {
                            console.log('demox')
                        })
                }
            },
            viewPrice(item) {
                this.priceInfo = item;
                $('.priceTip').slideToggle(500);
            },
            validateLowestPrice(item) {
                if (item.sellingPrice < item.secondPrice) {
                    item.sellingPrice = item.secondPrice;
                }
            },

            searchClients() {
                if (this.customer.length < 2) {
                    this.searchClient = false;
                    return [];
                }

                this.searchClient = true;
                var that = this;
                this.customers = [];
                if (this.locatingCustomer) {
                    return;
                }

                var customers = [];

                fluentDb.allUsingCursor('clients').then(function nextCursor(cursor) {
                    that.locatingCustomer = true;
                    if (!cursor) {
                        that.locatingCustomer = false;
                        that.customers = customers;
                        return;
                    }
                    if ((cursor.value.Name.toUpperCase().indexOf(that.customer.toUpperCase()) !== -1 ||
                            cursor.value.Telephone.toUpperCase().indexOf(that.customer.toUpperCase())) !== -1) {
                        console.log(cursor.value)
                        customers.push(cursor.value);
                    }

                    cursor.continue().then(nextCursor);
                }).then(() => {
                    this.locatingCustomer = false;
                });
            },

            searchProducts(isCode = false) {
                if (this.stockItem.length < 1 && this.itemCodeSearch.length < 1) {
                    this.searchProduct = false;
                    return;
                }

                this.searchProduct = true;
                var that = this;
                this.products = [];

                if (this.locatingProduct) {
                    return;
                }

                var products = [];

                fluentDb.allUsingCursor('products').then(function nextCursor(cursor) {
                    that.locatingProduct = true;
                    if (!cursor) {
                        that.locatingProduct = false;
                        that.products = products;
                        if (that.settings.insert_on_search.toUpperCase() == 'YES' && products.length == 1) {
                            that.insertToCart(that.products[0]);
                        }
                        return;
                    }

                    if (isCode && (cursor.value.Code.toUpperCase().indexOf(that.itemCodeSearch.toUpperCase()) !== -1)) {
                        products.push(cursor.value);
                    }

                    if (isCode) {
                        cursor.continue().then(nextCursor);
                        return;
                    }

                    if (
                        cursor.value.Code.toUpperCase().indexOf(that.stockItem.toUpperCase()) !== -1 ||
                        cursor.value.Description_1.toUpperCase().indexOf(that.stockItem.toUpperCase()) !== -1
                    ) {
                        products.push(cursor.value);
                    }

                    cursor.continue().then(nextCursor);
                }).then(() => {
                    that.locatingProduct = false;
                });
            },

            setListeners() {
                this.$on('reverse-sale', (sale) => {
                    this.reversal = true;
                    this.approval = true;
                    this.showReturn = true;
                    this.initReversal(sale);
                });

                this.$on('complete-reverse-sale', (sale) => {
                    this.reversal = true;
                    this.completion = true;
                    this.approval = false;
                    this.showReturn = true;
                    this.initReversal(sale, false);
                });

                this.$on('complete-sale', (sale) => {
                    this.completion = true;
                    this.approval = false;
                    this.showReturn = false;
                    this.initCompletion(sale);
                });

                this.$on('approving-sale', (sale) => {
                    this.approving = true;
                    this.completion = false;
                    this.approval = false;
                    this.showReturn = false;
                    this.initCompletion(sale);
                });
            },

            restoreSale() {
                if (localStorage.getItem("sale") && (!this.completion && !this.approving && !this.reversal)) {
                    let data = {};
                    data.transaction_data = localStorage.getItem("sale");
                    this.fillForm(data);
                }
            },

            clearSale() {
                if (!this.completion && !this.approving && !this.reversal) {
                    localStorage.removeItem("sale");
                }
            },

            voidSale() {
                this.resetPage();
            },

            setBinds() {
                setTimeout(() => {
                    setInterval(() => {
                        if (!this.completion && !this.approving && !this.reversal) {
                            localStorage.setItem("sale", JSON.stringify(this.preCommit(true)));
                        }
                    }, 2000);
                }, 3000);

                let itemSearch = $('#itemSearch');
                let cartTable = $('#cartTable');

                itemSearch.on('focus', () => {
                    cartTable.find('tr.success').removeClass('success').removeClass('active');
                    this.onCartItem = false;
                });

                $(document).ready(() => {
                    itemSearch.focus();
                });

                $(document).keyup((e) => {
                    let currentTable = this.searchProduct ? $('#productsTable') : (this.searchClient ? $('#clientsTable') : cartTable);

                    switch (e.which) {
                        // arrow up
                        case 38:
                            this.highlightRow(currentTable, currentTable.find('tbody tr.success.active').index() - 1);
                            if (currentTable == cartTable) {
                                this.onCartItem = true;
                            }
                            break;
                            // arrow down
                        case 40:
                            this.highlightRow(currentTable, currentTable.find('tbody tr.success.active').index() + 1);
                            if (currentTable == cartTable) {
                                this.onCartItem = true;
                            }
                            break;
                            // escape
                        case 27:
                            if (this.isCheckingOut) {
                                this.cancelCheckout();
                                break;
                            }

                            currentTable.find('tr.success').removeClass('success').removeClass('active');
                            this.onCartItem = false;

                            itemSearch.focus();
                            break;
                            // enter
                        case 13:
                            if (this.searchClient) {
                                currentTable.find('tbody tr.success.active .add-item').trigger('click');
                                break;
                            }

                            if (cartTable.find('tr').eq(1).find('.quantity').is(':focus')) {
                                cartTable.find('tr').eq(1).find('.unitPrice').select();
                                break;
                            }

                            if (cartTable.find('tr').eq(1).find('.unitPrice').is(':focus')) {
                                cartTable.find('tr').eq(1).find('.discount').select();
                                break;
                            }

                            itemSearch.focus();
                            break;
                            // F4
                        case 115:
                            currentTable.find('tr.success.active').find('.view-price').trigger('click');
                            // f8
//                        case 119:
//                            this.transaction_type = !this.transaction_type;
//                            this.changeTransaction();
//                            break;
                            // f9
                        case 120:
                            if (this.isCheckingOut) {
                                this.finalizeSale(null);
                                break;
                            }

                            $('#checkout').trigger('click');
                            break;
                            // delete
                        case 46:
                            if (!this.searchProduct) {
                                cartTable.find('tbody tr.success.active .delete').trigger('click');
                                itemSearch.focus();
                            }
                            break;
                    }
                });
            },

            updateItem(item) {
                item.multiplier = parseFloat(item.measure.ratio);

                let ratio = parseFloat(item.measure.ratio);

                if (ratio > 1) {
                    item.WHQtyOnHand = parseFloat(item.StockQuantity) / parseFloat(item.measure.ratio);
                    item.sellingPrice = item.RRPOutInclPrice;
                    item.secondPrice = item.AltOutInclPrice;
                } else {
                    item.WHQtyOnHand = parseFloat(item.StockQuantity) * parseFloat(item.measure.ratio);
                    item.sellingPrice = item.RRPStockingInclPrice;
                    item.secondPrice = item.AltStockingInclPrice;
                }

                item.WHQtyOnHand = Math.trunc(item.WHQtyOnHand);
                item.quantity = 1;

                if (item.WHQtyOnHand < 1) {
                    item.quantity = 0;
                    notify('error', 'POS Sale', 'The item does not have enough quantity to make the conversion. Please use another unit.', true);
                }

                item.fExclPrice = parseFloat(item.TaxRate) > 0 ? parseFloat(item.sellingPrice) / (1 + (parseFloat(item.TaxRate) / 100)) :
                    parseFloat(item.sellingPrice);

                // if (ratio < 0) {
                //     item.WHQtyOnHand = parseFloat(item.StockQuantity) * - parseFloat(item.measure.ratio);
                //     item.sellingPrice = item.RRPOutInclPrice;
                //     item.secondPrice = item.AltOutInclPrice;
                // } else {
                //     item.WHQtyOnHand = parseFloat(item.StockQuantity) / parseFloat(item.measure.ratio);
                //     item.sellingPrice = item.RRPStockingInclPrice;
                //     item.secondPrice = item.AltStockingInclPrice;
                // }

            },

            setCustomer(force = false) {
                var that = this;

                if (force || (Object.keys(this.currentCustomer).length < 1 && !this.approving && !this.completion && !this.completion && !this.reversal)) {
                    fluentDb.allUsingCursor('clients').then(function nextCursor(cursor) {
                        if (!cursor) return;

                        if (cursor.value.Name.toUpperCase().indexOf('CASH') !== -1) {
                            that.currentCustomer = cursor.value;
                            return;
                        }

                        cursor.continue().then(nextCursor);
                    });
                }
            },

            setProject(force = false){
                var that = this;

                if (force || (Object.keys(this.currentProject).length < 1 && !this.approving && !this.completion && !this.completion && !this.reversal)) {
                    fluentDb.allUsingCursor('projects').then(function nextCursor(cursor) {
                        if (!cursor) return;

                        if (cursor.value.ProjectCode.toUpperCase().indexOf('AGA KHAN') !== -1) {
                            that.currentProject = cursor.value;
                            return;
                        }

                        cursor.continue().then(nextCursor);
                    });
                }
            },

            initVariables() {
                this.setCustomer();
                this.setProject();
                httpRequest(this, 'get', '/pos', {}, (result) => {
                    console.log(result)
                    fluentDb.clear('products');
                    fluentDb.clear('projects');
                    fluentDb.clear('clients');
                    fluentDb.clear('settings');
                    fluentDb.insert('products', result.products);
                    fluentDb.insert('clients', result.clients);
                    fluentDb.insert('projects', result.projects);
                    fluentDb.create('settings', 0, result.settings);
                    this.setCustomer();
                    this.setProject();
                    this.showCustomerSearch = false;
                    this.showProjectSearch = false;
                });
            },

            insertToCart(product) {
                this.products = [];
                product = JSON.parse(JSON.stringify(product));
                product.discount = 0;
                product.fExclPrice = parseFloat(product.TaxRate) > 0 ? parseFloat(product.measure.price) / (1 + (parseFloat(product.TaxRate) / 100)) :
                    product.RRPStockingInclPrice;
                product.quantity = 1;
                product.secondPrice = product.AltStockingInclPrice;
                product.sellingPrice = product.RRPStockingInclPrice;
                product.duplicate = false;
                this.items = [];

                if (product.WHQtyOnHand <= 0) {
                    notify('error', 'POS Sale', 'Sorry, the item is out of stock. Please check the other stores.', true);
                    return false;
                }

                let available = false;
                let cart = this.cart;
                this.stockItem = '';

                setTimeout(() => {
                    let cartTable = $('#cartTable');
                    cartTable.find('tr').eq(1).addClass('success').addClass('active');
                    this.onCartItem = true;
                }, 100);

                if (this.settings.auto_merge.toUpperCase() == 'YES') {
                    if (product.conversions.length < 2) {
                        cart.some((item, index) => {
                            if (item.Code == product.Code) {
                                available = true;
                                let amount = parseInt(item.quantity);
                                product.quantity += (amount < 0 ? 0 : amount);
                                product.discount = item.discount;

                                if (product.quantity > product.WHQtyOnHand) {
                                    notify('error', 'POS Sale', 'Sorry, you only have ' + product.WHQtyOnHand + ' items available', true);
                                    return true;
                                }
                                this.cart.$set(index, product);

                                return true;
                            }
                        });
                    }
                }

                this.cart = this.cart.map((item) => {
                    item.duplicate = false;
                    if (item.Code == product.Code) {
                        item.duplicate = true;
                        product.duplicate = true;
                    }
                    return item;
                });

                if (!available) {
                    this.cart.unshift(product);
                }

                if (this.settings.auto_focus.toUpperCase() == 'YES') {
                    setTimeout(() => {
                        $('#cartTable').find('tr').eq(1).find('.quantity').select();
                    }, 100);
                }
            },

            validateQty(item) {
                if (!this.reversal && !this.approving && (item.quantity > item.WHQtyOnHand)) {
                    item.quantity = parseFloat(item.WHQtyOnHand);
                }
                if ((item.quantity < 1 || isNaN(item.quantity)) && !this.reversal) {
                    item.quantity = 0;
                } else if (item.quantity < 0 || isNaN(item.quantity)) {
                    item.quantity = 0;
                }

                if (this.reversal && item.quantity > 0) {
                    item.discount = item.originalDiscount;
                }

                if (this.reversal && item.quantity < 1) {
                    item.discount = 0;
                }
            },

            validateAmount(amount) {
                amount = parseFloat(amount);
                if (amount < 0 || isNaN(amount)) {
                    amount = 0;
                }
            },

            checkout() {
                if (parseFloat(this.netPrice) < 1) {
                    notify('error', 'POS Sale', 'Please select at least one item to be sold.', true);
                    return;
                }

                if (! this.completion && ! this.reversal) {
                    this.transaction_type = ! parseInt(this.currentCustomer.CashDebtor);
                    this.changeTransaction();
                }

                this.isCheckingOut = true;

                if (this.sale.transaction_type == 'Approved: Sales Order' && this.transaction_type == 0) {
                    this.creditAmount = this.netPrice;
                    this.mpesa = [{
                        amount: 0,
                        reference: ''
                    }];
                    this.creditReference = this.currentCustomer.Name;
                    this.paymentsLock = true;
                }

                setTimeout(() => {
                    $('#cash-amount').focus();
                }, 100);
            },

            cancelCheckout() {
                this.isCheckingOut = false;
                $('#itemSearch').focus();
            },

            updateCustomer(customer) {
                if ((customer.Credit_Limit != 0) && (parseFloat(customer.DCBalance) > parseFloat(customer.Credit_Limit)) && !this.approval) {
                    this.approval = true;
                    this.reason = 'Credit Limit';
                }
                this.currentCustomer = customer;
                this.customers = [];
                this.customer = '';
                this.showCustomerSearch = false;
                this.transaction_type = ! parseInt(customer.CashDebtor);
                this.changeTransaction();
            },

            changeProject() {
                if (this.approval && this.reason == 'Credit Limit') {
                    this.approval = false;
                    this.reason = '';
                }
                this.showProjectSearch = true;
            },

            changeCustomer() {
                if (this.approval && this.reason == 'Credit Limit') {
                    this.approval = false;
                    this.reason = '';
                }

                this.currentCustomer = {};
                this.customers = [];
                this.customer = '';
                this.showCustomerSearch = true;
                setTimeout(() => {
                    $('#clientSearchText').focus();
                }, 100);
            },

            allocateTax(code, tax) {
                let taxRate = null;
                this.cart.forEach((value) => {
                    if (value.TaxCode == code) {
                        let quantity = isNaN(parseFloat(value.quantity)) ? 1 : parseFloat(value.quantity);
                        taxRate = parseFloat(value.TaxRate) / 100;

                        tax.inclusive += (parseFloat(value.sellingPrice) * quantity) - parseFloat(value.discount);
                    }
                });

                tax.total = parseFloat(tax.inclusive) / (1 + parseFloat(taxRate));
                tax.amount = tax.inclusive - tax.total;

                if (isNaN(parseFloat(tax.total))) {
                    tax.total = 0;
                }
                if (isNaN(parseFloat(tax.amount))) {
                    tax.amount = 0;
                }

                tax.inclusive = this.formatNumber(tax.inclusive);
                tax.total = this.formatNumber(tax.total);
                tax.amount = this.formatNumber(tax.amount);

                return tax;
            },

            finalizeSale(approve = null) {
                if (this.transaction_type == 1) {
                    this.store(approve);

                    return;
                }

                if (!this.validateSale()) {
                    return false;
                }

                this.store(approve);
            },

            validateSale() {
                if (parseFloat(this.amountDue) > 0) {
                    notify('error', 'POS Sale', 'Sorry, you cannot complete the sale while the transaction has not been paid for.', true);
                    return false;
                }

                if (parseFloat(this.creditAmount) > 0 && ((this.creditReference == '') || (this.creditReference.length < 1))) {
                    notify('error', 'POS Sale', 'Please enter a valid Credit reference number.', true);
                    return false;
                }

                let mpesaGood = true;
                this.mpesa.forEach(function(payment) {
                    if (parseInt(payment.amount) > 0 && ((payment.reference == '') || (payment.reference.length < 1))) {
                        mpesaGood = false;
                    }
                });

                if (!mpesaGood) {
                    notify('error', 'POS Sale', 'Please enter a valid M-Pesa reference number.', true);
                    return false;
                }

                return true;
            },

            changeTransaction() {
                if (this.transaction_type == 1) {
                    this.cashAmount = 0;
                    this.creditAmount = 0;
                    this.creditReference = '';
                    this.mpesa = [{
                        amount: 0,
                        reference: ''
                    }];
                    this.approval = true;
                    this.reason = 'Sales Order';
                    return;
                }

                if ((this.customer.Credit_Limit != 0) && (parseFloat(this.customer.DCBalance) > parseFloat(this.customer.Credit_Limit))) {
                    this.approval = true;
                    this.reason = 'Credit Limit';

                    return;
                }

                this.approval = false;
                this.reason = '';
            },

            store(approve = null) {
                if (this.isSent) return;

                let form = this.preCommit();

                if (approve == true || approve == false) {
                    form.id = this.sale.id;
                    form.approval = approve;
                    this.processApproval(form);

                    return true;
                }

                if (this.completion) {
                    form.id = this.sale.id;
                }

                let uri = '/pos';
                let message = 'Successfully completed sale.';

                if (this.approval) {
                    form.reason = this.reason;
                    form.original_id = this.sale.id;
                    uri += '/approval';
                    message = 'Successfully requested for approval.';
                    this.processRequest(form, message, uri);

                    return true;
                }

                if (this.reversal == true) {
                    this.processReversal(form);
                    this.initVariables();

                    return true;
                }

                this.processRequest(form, message);
                this.initVariables();
            },

            getPayments() {
                let payments = [];

                if (parseFloat(this.cashAmount) > 0) {
                    payments.push({
                        amount: parseFloat(this.cashAmount),
                        name: "Cash",
                        reference: ''
                    });
                }

                if (parseFloat(this.totalMpesa) > 0) {
                    payments.push({
                        amount: parseFloat(this.totalMpesa),
                        name: "MPesa",
                        reference: JSON.stringify(this.mpesa)
                    });
                }

                if (parseFloat(this.creditAmount) > 0) {
                    payments.push({
                        amount: parseFloat(this.creditAmount),
                        name: "Credit",
                        reference: this.creditReference
                    });
                }

                return payments;
            },

            preCommit(saving = false) {
                let commit = {
                    remark: this.remark,
                    items: this.cart,
                    customer: this.currentCustomer,
                    payments: this.getPayments(),
                    totalPrice: this.totalPrice,
                    totalWeight: this.totalWeight,
                    netPrice: this.netPrice,
                    totalDiscount: this.totalDiscount,
                    saleDiscount: this.discount,
                    transaction_type: this.transaction_type,
                    tax: {
                        A: this.totalTaxA,
                        E: this.totalTaxE,
                        Z: this.totalTaxZ
                    }
                };

                if (!saving) {
                    commit.items = this.prepareCart();
                }

                return commit;
            },

            prepareCart() {
                if (this.settings.auto_merge_receipt.toUpperCase() == 'NO') {
                    return this.cart;
                }

                let mergedCart = [];

                this.cart.forEach(item => {
                    let available = false;

                    mergedCart.some((cartItem, index) => {
                        if ((cartItem.Code == item.Code) && (cartItem.measure.id == item.measure.id)) {
                            available = true;
                            cartItem.quantity = parseInt(cartItem.quantity) + parseInt(item.quantity);
                            cartItem.discount = parseInt(cartItem.discount) + parseInt(item.discount);

                            mergedCart.$set(index, cartItem);
                            return true;
                        }
                    });

                    if (!available) mergedCart.push(item);
                });

                return mergedCart;
            },

            processPrint(content) {
                $('#printout').html(content);

                window.print();

                $('#printout').html('');
            },

            processRequest(form, message, uri = '/pos') {
                this.isSent = true;
                httpRequest(this, 'post', uri, form, (response) => {
                    this.resetPage();
                    this.isCheckingOut = false;
                    if (uri == '/pos') {
                        this.processPrint(response.content);
                    }

                    if (window.location.pathname == '/transactions') window.location.reload();

                    this.clearSale();
                    this.isSent = false;
                    notify('success', 'POS Sale', message);
                }, () => {
                    this.isSent = false;
                    notify('error', 'POS Sale', 'Sorry, we encountered an error. Please try again.', true);
                });
            },

            processReversal(form) {
                this.isSent = true;
                httpRequest(this, 'put', '/pos/' + this.sale.id, form, (response) => {
                    this.resetPage();
                    this.cancelReturn();
                    this.isCheckingOut = false;
                    this.processPrint(response.content);

                    this.clearSale();
                    this.isSent = false;
                    notify('success', 'POS Sale', 'Successfully modified sale.');
                }, () => {
                    this.isSent = false;
                    notify('error', 'POS Sale', 'Sorry, we encountered an error. Please try again.', true);
                });
            },

            processApproval(form) {
                this.isSent = true;
                httpRequest(this, 'post', 'pos/process', form, () => {
                    this.isSent = false;
                    this.resetPage();
                    this.isCheckingOut = false;
                    this.cancelReturn();

                    this.clearSale();
                    notify('success', 'POS Sale', 'Successfully processed request.');
                }, () => {
                    this.isSent = false;
                    notify('error', 'POS Sale', 'Sorry, we encountered an error. Please try again.', true);
                });
            },

            initCompletion(transaction) {
                this.sale = transaction;
                this.locked = parseInt(transaction.locked);
                this.fillForm(transaction);
            },

            fillForm(transaction) {
                let saleData = JSON.parse(transaction.transaction_data);
                this.mapPayments(saleData.payments);

                if (this.reversal && !this.completion && !this.approving) {
                    this.cashAmount = 0;
                    this.creditAmount = 0;
                    this.creditReference = '';
                    this.mpesa = [{
                        amount: 0,
                        reference: ''
                    }];
                }

                this.cart = $.map(saleData.items, (el) => {
                    let item = el;
                    item.soldQuantity = el.quantity;
                    item.originalDiscount = el.discount;
                    if (this.reversal && !this.completion && !this.approving) {
                        el.quantity = 0;
                        el.discount = 0;
                    }
                    return item;
                });

                this.discount = parseFloat(saleData.saleDiscount);
                this.showCustomerSearch = false;
                this.transaction_type = saleData.transaction_type;
                if ((saleData.transaction_type == 1) && (transaction.transaction_type == 'Approved: Sales Order')) {
                    this.transaction_type = 0;
                }
                this.original_transaction_type = saleData.transaction_type;
                this.remark = saleData.remark;
                let that = this;
                setTimeout(() => {
                    fluentDb.get('clients', saleData.customer.DCLink).then((client) => {
                        that.currentCustomer = client;
                    });
                }, 500);
            },

            initReversal(transaction, approval = true) {
                this.sale = transaction;
                this.approval = approval;
                this.reason = 'Return of Goods';
                this.locked = parseInt(transaction.locked);
                this.fillForm(transaction);
            },

            cancelReturn() {
                this.$dispatch('cancelreturn');
            },

            mapPayments(payments) {
                payments.forEach((payment) => {
                    if (payment.name == 'Credit') {
                        this.creditAmount = parseFloat(payment.amount);
                        this.creditReference = payment.reference;

                        return;
                    }
                    if (payment.name == 'Cash') {
                        this.cashAmount = parseFloat(payment.amount);
                        return;
                    }
                    if (payment.name == 'MPesa') {
                        let details = [];
                        try {
                            details = JSON.parse(payment.reference);
                        } catch (err) {
                            details.push({
                                amount: parseFloat(payment.amount),
                                reference: payment.reference
                            });
                        }

                        this.mpesa = details;
                    }
                });
            },

            saveTransaction() {
                if (parseFloat(this.netPrice) < 1) {
                    notify('error', 'POS Sale', 'Please select at least one item to be sold.', true);
                    return;
                }

                if (this.isSent) return;
                let form = this.preCommit();
                this.isSent = true;
                httpRequest(this, 'post', '/pos/save', form, () => {
                    this.resetPage();

                    this.clearSale();
                    this.isSent = false;
                    notify('success', 'POS Sale', 'Successfully saved transaction.');
                }, (response) => {
                    this.isSent = false;
                    notify('error', 'POS Sale', 'Sorry, we encountered an error. Please try again.', true);
                });
            },

            getTotal(item) {
                let amount = parseFloat(item.quantity);
                let total = (parseFloat(item.sellingPrice) * (amount < 0 ? 0 : amount));
                let discount = isNaN(parseFloat(item.discount)) ? 0 : parseFloat(item.discount);

                return isNaN(total) ? 0 : (total - discount).toLocaleString();
            },

            removeItem(item) {
                this.cart.$remove(item);
            },

            resetPage() {
                this.remark = '';
                this.inventories = [];
                this.cart = [];
                this.stockItem = '';
                this.customer = '';
                this.customers = [];
                this.products = [];
                this.showCustomerSearch = false;
                this.showProjectSearch = false;
                this.payments = [];
                this.amount = 0;
                this.reference = '';
                this.discount = 0;
                this.reason = '';
                this.cashAmount = 0;
                this.creditAmount = 0;
                this.mpesa = [{
                    reference: '',
                    amount: 0
                }];
                this.creditReference = '';
                this.transaction_type = this.original_transaction_type = 0;
                this.sale = {};
                this.locked = 0;
                this.customer = '';
                this.approval = false;
                this.approving = false;
                this.approved = false;
                this.completion = false;
                this.searchProduct = false;
                this.searchClient = false;
                this.isCheckingOut = false;
                this.showReturn = false;
                this.reversal = false;
                this.clearSale();
                this.setCustomer(true);
                this.paymentsLock = false;
                this.priceInfo = {
                    RRPStockingInclPrice: 0,
                    RRPOutInclPrice: 0,
                    AltStockingInclPrice: 0,
                    AltOutInclPrice: 0,
                };
            },

            addMpesa() {
                this.mpesa.push({
                    reference: '',
                    amount: 0
                });
            },

            removeMpesa(details) {
                this.mpesa.$remove(details);
            }
        }
    }
</script>
