<template>
    <table class="table table-hover table-stripped table-responsive" id="productsTable">
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Available Warehouse</th>
            <th class="text-right">Qty On Hand</th>
            <th class="text-right">Weight</th>
            <th class="text-right">Inclusive Price</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="product in products">
            <td>{{ product.Code }}</td>
            <td>{{ product.Description_1 }}</td>
            <td>{{ product.Name }}</td>
            <td class="text-right">{{ formatNumber(product.WHQtyOnHand) }} {{ product.cUnitCode }}</td>
            <td class="text-right">{{ formatNumber(parseFloat(product.ucIIUnitWt)) }}KGs</td>
            <td class="text-right">{{ formatNumber(product.RRPStockingInclPrice) }}</td>
            <td class="text-center"><button class="btn btn-success btn-xs add-item" @click="processToCart(product)"><i class="fa fa-plus"> ADD</i></button></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import Numbers from '../../mixins/numbers.vue';

    export default {
        mixins: [
            Numbers
        ],

        props: {
            products: {
                required: true,
                type: Array
            }
        },

        methods: {
            processToCart(product) {
                this.$emit('add', product);
                product.WHQtyOnHand--;
                if (product.WHQtyOnHand == 0) {
                    this.products.$remove(product);
                }
            }
        }
    }
</script>
