<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        User Groups
                        <a href="#" class="btn btn-success btn-xs pull-right" @click.prevent="create">Add Group</a>
                    </div>

                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Group Name</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="role in roles">
                                <td><a href="#" @click.prevent="show(role)">{{ role.name }}</a></td>
                                <td class="text-center"><a href="#" @click.prevent="deleteRole(role)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>

                        <paginator v-if="showPaginator"
                                   :current-page="currentPage" :last-page="lastPage"
                                   :previous-url="previousUrl" :next-url="nextUrl"
                                   @change-page="navigate">
                        </paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-create" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        {{ inputForm.action == 'create' ? 'Add ' : 'Edit' }} User Group.
                    </h4>
                </div>
                <form class="form-horizontal" role="form" @submit.prevent="persistChanges">
                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="inputForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in inputForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>
                        <!-- Create Client Form -->
                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name*</label>

                            <div class="col-md-7">
                                <input id="create-name" type="text" class="form-control"
                                       required v-model="inputForm.name" placeholder="Administrators">

                                <span class="help-block">
                                    The name of the user group.
                            </span>
                            </div>
                        </div>

                        <!-- Redirect URL -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h4>Permissions</h4>
                                <div class="row">
                                    <template v-for="(index, group) in permissions">
                                        <div class="col-sm-4">
                                            <h5>{{ index }}</h5>
                                            <div class="checkbox" v-for="permission in group">
                                                <label>
                                                    <input type="checkbox" v-model="inputForm.permissions[permission.id]"> {{ permission.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-success">
                            {{ inputForm.action == 'create' ? 'Create' : 'Update Changes' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { httpRequest } from '../../core/http';

    export default {
        ready() {
            this.getRoles();
            $('#modal-create').on('shown.bs.modal', () => {
                $('#create-name').focus();
            });
        },
        data() {
            return {
                roles: [],
                permissions: [],
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null,
                    name: '',
                    permissions: {}
                },
                currentPage: 1,
                lastPage: 1,
                previousUrl: '',
                nextUrl: '',
                showPaginator: false,
            };
        },
        methods: {
            getRoles() {
                httpRequest(this, 'get', '/roles', {}, this.updatePage);
            },
            navigate(uri) {
                httpRequest(this, 'get', uri, this.inputForm, this.updatePage);
            },
            resetForm() {
                this.inputForm.name = '';
                this.inputForm.permissions = {};
                this.inputForm.errors = [];
                this.inputForm.id = null;
            },
            persistChanges() {
                if (this.inputForm.action == 'create') {
                    httpRequest(this, 'post', '/roles', this.inputForm, this.postPersist);
                    return true;
                }

                httpRequest(this, 'put', '/roles/' + this.inputForm.id, this.inputForm, this.postPersist);
            },
            updatePage(responseData) {
                this.showPaginator = false;
                if (! responseData.hasOwnProperty('data')) {
                    this.roles = responseData;
                    return true;
                }
                this.roles = responseData.data;
                this.currentPage = responseData.current_page;
                this.lastPage = responseData.last_page;
                this.previousUrl = responseData.prev_page_url;
                this.nextUrl = responseData.next_page_url;

                if (this.lastPage > 1) {
                    this.showPaginator = true;
                }

                this.$broadcast('updatePagination');
            },
            postPersist(responseData) {
                this.resetForm();
                $('#modal-create').modal('hide');
                this.updatePage(responseData);
            },
            create() {
                this.resetForm();
                this.inputForm.action = 'create';
                httpRequest(this, 'get', '/roles?permissions=true', this.inputForm, (response) => {
                    this.permissions = response;
                    $('#modal-create').modal('show');
                });
            },
            show(role) {
                this.resetForm();
                this.inputForm.action = 'edit';
                httpRequest(this, 'get', '/roles?permissions=true', this.inputForm, (response) => {
                    this.permissions = response;
                    this.inputForm.id = role.id;
                    this.inputForm.name = role.name;
                    role.permissions.forEach(value => {
                        this.inputForm.permissions[value] = true;
                    });
                    $('#modal-create').modal('show');
                });
            },
            deleteRole(role) {
                notify(
                        'warning',
                        'User Groups',
                        'Deleting this user group will also delete the users associated with it. Are you sure?',
                        true,
                        true,
                        () => {
                            httpRequest(this, 'delete', '/roles/' + role.id, this.inputForm, this.updatePage);
                        }
                );
            },

            edit(type) {
                this.inputForm.action = 'edit';
                this.inputForm.errors = [];
                this.inputForm.id = type.id;
                this.inputForm.name = type.name;
                this.inputForm.description = type.description;
                $('#modal-create-type').modal('show');
            },
        }
    }
</script>
