<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Petty Cash
                        <button class="btn btn-success btn-xs pull-right" @click.prevent="create">Get Petty Cash</button>
                    </div>

                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Reference</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="petty in petties">
                                <td>{{ petty.type.name }}</td>
                                <td>{{ formatNumeral(petty.amount) }}</td>
                                <td>{{ petty.reference }}</td>
                                <td class="text-center" v-if="deletable"><a href="#" @click.prevent="deletePetty(petty)"><i class="fa fa-trash"></i></a></td>
                                <td class="text-center" v-else></td>
                            </tr>
                            </tbody>
                        </table>

                        <paginator v-if="showPaginator"
                                   :current-page="currentPage" :last-page="lastPage"
                                   :previous-url="previousUrl" :next-url="nextUrl"
                                   @change-page="navigate">
                        </paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-create" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        {{ inputForm.action == 'create' ? 'Add ' : 'Edit' }} Petty Cash.
                    </h4>
                </div>
                <form class="form-horizontal" role="form" @submit.prevent="persistChanges">
                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="inputForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in inputForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-sm-4">Petty Cash Type*</label>

                            <div class="col-sm-8">
                                <select name="create" id="create" v-model="inputForm.petty_cash_type_id"
                                        required class="form-control">
                                    <option v-for="type in types" :value="type.id">{{ type.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Amount*</label>

                            <div class="col-sm-8">
                                <input type="number" class="form-control" v-model="inputForm.amount" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-4">Reference*</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" v-model="inputForm.reference" required></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-success">
                            {{ inputForm.action == 'create' ? 'Create' : 'Update Changes' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { httpRequest } from '../../core/http';

    export default {
        ready() {
            this.getPettyCash();
            this.setListeners();
        },
        data() {
            return {
                petties: [],
                types: [],
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null,
                    reference: '',
                    amount: '',
                    petty_cash_type_id: ''
                },
                currentPage: 1,
                lastPage: 1,
                previousUrl: '',
                nextUrl: '',
                showPaginator: false
            };
        },
        methods: {
            formatNumeral(number) {
                return numeral(number).format('0,0.00');
            },
            setListeners() {
                $('#create').on('shown.bs.modal', function () {
                    $('#create-name').focus();
                });
            },

            navigate(uri) {
                httpRequest(this, 'get', uri, this.inputForm, this.updatePage);
            },

            resetForm() {
                this.inputForm.action = 'create';
                this.inputForm.errors = [];
                this.inputForm.id = null;
                this.inputForm.amount = '';
                this.inputForm.reference = '';
                this.inputForm.petty_cash_type_id = '';
            },

            getPettyCash() {
                httpRequest(this, 'get', '/petty-cash', this.inputForm, this.updatePage);
            },

            persistChanges() {
                if (this.inputForm.action == 'create') {
                    httpRequest(this, 'post', '/petty-cash', this.inputForm, this.postPersist);
                    return true;
                }
                httpRequest(this, 'put', '/petty-cash/' + this.inputForm.id, this.inputForm, this.postPersist);
            },

            updatePage(responseData) {
                this.showPaginator = false;
                if (! responseData.hasOwnProperty('data')) {
                    this.petties = responseData;
                    return true;
                }
                this.petties = responseData.data;
                this.currentPage = responseData.current_page;
                this.lastPage = responseData.last_page;
                this.previousUrl = responseData.prev_page_url;
                this.nextUrl = responseData.next_page_url;

                if (this.lastPage > 1) {
                    this.showPaginator = true;
                }

                this.$broadcast('updatePagination');
            },
            postPersist(responseData) {
                this.resetForm();
                $('#modal-create').modal('hide');
                notify('success', 'Petty Cash', 'Successfully updated your petty cash records.');
                this.updatePage(responseData);
            },

            create() {
                this.resetForm();
                this.inputForm.action = 'create';
                httpRequest(this, 'get', '/petty-types', this.inputForm, (response) => {
                    this.types = response;
                    $('#modal-create').modal('show');
                });
            },

            deleteAssignment(assignment) {
                notify('warning', 'Assignment', 'Deleting this assignment will prevent the user from transacting on the warehouse. Are you sure?', true, true, () => {
                    httpRequest(this, 'delete', '/assignment/' + assignment.id, this.inputForm, (response) => {
                        notify('success', 'Assignment', 'Successfully deleted assignment.');
                        this.updatePage(response);
                    });
                });
            }
        }
    }
</script>
