<template>
    <div v-if="showTransactions" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Your Transactions.
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" v-model="transaction_number" placeholder="Transaction Number">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" @click="findByNumber">Search</button>
                                  </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-daterange">
                                    <input type="text" class="form-control datepicker" v-model="transaction_start_date">
                                    <div class="input-group-addon">to</div>
                                    <input type="text" class="form-control datepicker" v-model="transaction_end_date">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" @click="findByDay">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <table class="table table-responsive table-hover" id="transaction-table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th width="100px">Transaction ID</th>
                                <th>Customer</th>
                                <th>Type</th>
                                <th>Reference</th>
                                <th class="text-right">Amount</th>
                                <th v-if="admin">Agent</th>
                                <th class="text-right" v-if="! admin">Running Amount</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th colspan="5" style="text-align:right">Total:</th>
                                <th class="text-right"></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr v-for="transaction in transactions" :class="{'bg-danger' : transaction.amount < 0, 'bg-success' : transaction.transaction_type.startsWith('Approved'), 'bg-danger' : transaction.transaction_type.startsWith('Disapproved'), 'bg-warning' : transaction.transaction_type.startsWith('Pending') }">
                                <td>{{ new Date(transaction.created_at).toDateString() }}</td>
                                <td>
                                    {{ transaction.transaction_number }}
                                     <span v-if="! transaction.transaction_type.startsWith('Approved')" class="fa fa-check"></span>
                                     <span v-else class="fa fa-times"></span>
                                </td>
                                <td>{{ transaction.client }}</td>
                                <td>{{ transaction.transaction_type }}</td>
                                <td>{{ transaction.payment_type }}</td>
                                <td class="text-right">{{ formatNumeral(transaction.amount) }}</td>
                                <td v-if="admin">{{ transaction.creator.name }}</td>
                                <td v-if="! admin" class="text-right">{{ formatNumeral(transaction.running) }}</td>
                                <td class="text-center">
                                    <a v-if="showReverse(transaction)" href="#" @click.prevent="showDetails(transaction)"><i class="fa fa-eye"></i></a>
                                    <a v-if="showReverse(transaction)" href="#" @click.prevent="reverse(transaction)"><i class="fa fa-undo"></i></a>
                                    <a v-if="showPrint(transaction)" href="/pos/print/{{ transaction.id }}" target="_blank"><i class="fa fa-print"></i></a>
                                    <a v-if="showContinue(transaction)" href="#" @click.prevent="completeTransaction(transaction)"><i class="fa fa-check"></i></a>
                                    <a v-if="showDelete(transaction)" href="#" @click.prevent="deleteSaved(transaction)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pos-index v-if="reverseSale || completeSale" @cancelreturn="cancelReturn"></pos-index>
    <pos-view v-if="viewSale" @cancelreturn="cancelView"></pos-view>
</template>

<script>
    import {
        httpRequest
    } from '../../core/http';

    export default {
        ready() {
            this.getTransactions();
            this.setupDatepicker();
            this.setupUI();
        },

        props: {
            root: {
                required: true
            },
            admin: {
                default: false,
                type: Boolean
            },
            rep: {
                default: false,
                type: Boolean
            },
        },

        data() {
            return {
                viewSale: false,
                transactions: [],
                showTransactions: true,
                reverseSale: false,
                completeSale: false,
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null,
                    user_id: [],
                    warehouse_id: []
                },
                transaction_number: '',
                transaction_start_date: '',
                transaction_end_date: '',
                runningBalance: 0,
                isTableLoaded: false
            };
        },
        methods: {
            showDetails(transaction) {
                this.viewSale = true;
                this.showTransactions = false;
                setTimeout(() => {
                    this.$broadcast('complete-sale', transaction);
                }, 100);
            },

            pad(number) {
                if (number < 10) {
                    return '0' + number;
                }

                return number;
            },

            getParameterByName(name, url) {
                if (!url) {
                    url = window.location.href;
                }
                name = name.replace(/[\[\]]/g, "\\$&");
                let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';

                return decodeURIComponent(results[2].replace(/\+/g, " "));
            },

            setupUI() {
                let currentDate = new Date;
                this.transaction_start_date = this.getParameterByName('start_date');
                this.transaction_end_date = this.getParameterByName('end_date');
                this.transaction_number = this.getParameterByName('number');

                if (!this.transaction_start_date || !this.transaction_end_date) {
                    this.transaction_start_date = this.transaction_end_date = this.pad(currentDate.getDate()) + '-' +
                        this.pad(currentDate.getMonth() + 1) + '-' + this.pad(currentDate.getFullYear());
                    return;
                }
            },

            findByDay() {
                this.isTableLoaded = true;
                window.location = this.root + '?start_date=' + encodeURI(this.transaction_start_date) +
                    '&end_date=' + encodeURI(this.transaction_end_date);
            },

            findByNumber() {
                this.isTableLoaded = true;
                window.location = this.root + '?number=' + encodeURI(this.transaction_number);
            },

            setupDatepicker() {
                $('.datepicker').datepicker({
                    autoclose: true,
                    endDate: '0d',
                    format: 'dd-mm-yyyy'
                });
            },

            showContinue(transaction) {
                return (transaction.status == 3 && transaction.transaction_type == 'Saved Sale') ||

                    (
                        transaction.status == 5 && (
                            transaction.transaction_type == 'Approved: Credit Limit' ||
                            transaction.transaction_type == 'Approved: Payment' ||
                            transaction.transaction_type == 'Approved: Discount' ||
                            transaction.transaction_type == 'Approved: Return of Goods' ||
                            transaction.transaction_type == 'Approved: Sales Order'
                        )
                    );
            },

            showDelete(transaction) {
                return (transaction.status == 3 && transaction.transaction_type == 'Saved Sale') ||
                    (transaction.status == 5 && (transaction.transaction_type == 'Approved: Credit Limit' ||
                        transaction.transaction_type == 'Approved: Payment' || transaction.transaction_type == 'Approved: Discount'));
            },

            showReverse(transaction) {
                return (transaction.reversed == 0 && transaction.transaction_type == 'Sale Made');
            },

            showPrint(transaction) {
                return (transaction.status == 5 && transaction.transaction_type == 'Approved: Sales Order') ||
                    (
                        (this.rep) && (transaction.status == 0 && transaction.transaction_type == 'Sale Made') ||
                        (transaction.status == 0 && transaction.transaction_type == 'Return of Goods') ||
                        (transaction.status == 0 && transaction.transaction_type == 'Cash Receipt')
                    );
            },

            completeTransaction(transaction) {
                if (transaction.transaction_type == 'Approved: Return of Goods') {
                    this.reverseSale = true;
                    this.showTransactions = false;
                    setTimeout(() => {
                        this.$broadcast('complete-reverse-sale', transaction);
                    }, 100);

                    return;
                }

                this.completeSale = true;
                this.showTransactions = false;
                setTimeout(() => {
                    this.$broadcast('complete-sale', transaction);
                }, 100);
            },

            deleteSaved(transaction) {
                notify('warning', 'Transactions', 'Deleting this transaction will delete also its data. Are you sure?', true, true, () => {
                    this.isTableLoaded = true;
                    httpRequest(this, 'delete', this.root + '/' + transaction.id, this.inputForm, (response) => {
                        notify('success', 'Transactions', 'Successfully deleted transaction.');
                        this.updatePage(response);
                    });
                });
            },

            cancelReturn() {
                this.reverseSale = false;
                this.completeSale = false;
                this.showTransactions = true;
                this.getTransactions();
            },

            cancelView() {
                this.viewSale = false;
                this.completeSale = false;
                this.showTransactions = true;
                this.getTransactions();
            },

            reverse(transaction) {
                if (transaction.transaction_type == 'Sale Made') {
                    this.reverseSale = true;
                    this.showTransactions = false;
                    setTimeout(() => {
                        this.$broadcast('reverse-sale', transaction);
                    }, 100);
                }
            },

            formatNumeral(number) {
                let formatted = numeral(number).format('0,0.00');
                if (number < 0) {
                    formatted = '(' + formatted.substr(1, formatted.length) + ')';
                }
                return formatted;
            },

            getTransactions() {
                httpRequest(this, 'get', this.root + window.location.search, this.inputForm, this.updatePage);
            },

            updatePage(responseData) {
                if (!responseData.hasOwnProperty('data')) {
                    this.transactions = responseData;
                    this._initializeDataTable();

                    return true;
                }
                this.transactions = responseData.data;
                this._initializeDataTable();
            },

            _initializeDataTable() {
                let configuration = {
                    dom: 'Bfrtip',
                    buttons: [
                        'colvis', {
                            extend: 'print',
                            title: '',
                            className: 'pull-right btn-success',
                            text: 'Print',
                            message: '<h3 style="text-align: center">POS Report</h4>',
                            exportOptions: {
                                columns: ':visible',
                                format: {
                                    header: (data, columnIdx) => {
                                        return data.split('<')[0];
                                    }
                                }
                            }
                        }
                    ],
                    header: false,
                    paging: false,
                    ordering: false,

                    initComplete: function() {
                        let cols = this.api().columns();
                        cols.every(function($index) {
                            if ($index == cols[0].length - 3 || $index == cols[0].length - 1) return;
                            let column = this;
                            let selectControl = $('<br/><select class="form-control input-sm select2" multiple></select>')

                            .appendTo($(column.header()))
                                .on('change', function() {
                                    let selected = $(this).val();
                                    let query = '';
                                    if (selected.length > 0) {
                                        for(let i = 0; i < selected.length; i++) {
                                            selected[i] = $.fn.dataTable.util.escapeRegex(selected[i]);
                                        }
                                        query = '^' + selected.join('$|^') + '$';
                                    }

                                    column.search(query, true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function(d, j) {
                                selectControl.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    },
                    "footerCallback": function(row, data, start, end, display) {
                        var api = this.api(),
                            data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function(i) {
                            if (typeof i === 'string') {
                                let value = i.replace(/[,]/g, '');
                                value = value.replace(/[(]/g, '-');
                                value = value.replace(/[)]/g, '') * 1;

                                return value;
                            }

                            return typeof i === 'number' ? i : 0;
                        };

                        let total = api
                            .column(5, {
                                page: 'current'
                            })
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Update footer
                        $(api.column(5).footer()).html(window.numeral(total).format('0,0.00'));
                    }
                };

                if (!this.isTableLoaded) {
                    setTimeout(() => {
                        $('#transaction-table').dataTable(configuration);
                        $('.select2').select2();
                    }, 1000);
                }
            }
        }
    }
</script>