// Fonts
@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

// datatables
@import "./plugins/dataTables";

// datepicker
@import "./plugins/datepicker";

@import "flash";

@import "plugins/pnotify";
@import "plugins/pace";
@import "plugins/loader";
@import "plugins/select2";

.saleTotal {
  background-color: $brand-info;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.changeRow {
  background-color: #e7833d;
  color: #fff;
}

.select2.select2-container {
  width: 100% !important;
}

.saleInput {
  width: 80px;
}

.clickable {
  cursor: pointer;
}

.reprint {
  font-size: 40px;
  position: absolute;
  opacity: .1;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.notification-menu {
  max-height: 200px;
  overflow-y: auto;
}

.priceTip {
  position: fixed;
  z-index: 999999;
  background-color: #ffffff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  right: 0;
  width: 300px;
}

.duplicate {
  background-color: #f2bcb6 !important;
}