<template>
    <ul class="pagination">
        <!-- Previous Page Link -->
        <li v-if="onFirstPage()" class="disabled"><span>&laquo;</span></li>
        <li v-else><a :href="previousUrl" rel="prev" @click.prevent="changePage(previousUrl)">&laquo;</a></li>

        <li v-for="element in elements" :class="{ active: isCurrent(element.page) }">
            <span v-if="isCurrent(element.page)">{{ element.page }}</span>
            <a v-else :href="element.url" @click.prevent="changePage(element.url)">{{ element.page }}</a>
        </li>

        <li v-if="currentPage == lastPage" class="disabled"><span>&raquo;</span></li>
        <li v-else><a :href="nextUrl" rel="next" @click.prevent="changePage(nextUrl)">&raquo;</a></li>
    </ul>
</template>

<script>
    export default {
        ready() {
            this.elements = this.getMiddleElements();
            this.$on('updatePagination', () => {
                this.elements = this.getMiddleElements();
            });
        },
        data() {
            return {
                elements: {}
            };
        },
        props: {
            currentPage: {
                default: 1,
                required: true
            },
            lastPage: {
                default: 1,
                required: true
            },
            previousUrl: {
                default: ''
            },
            nextUrl: {
                default: ''
            }
        },
        methods: {
            onFirstPage() {
                return this.currentPage == 1;
            },

            onLastPage() {
                return this.currentPage == this.lastPage;
            },

            getMiddleElements() {
                let current = this.currentPage;
                let endPage = (current + 5) > this.lastPage ? this.lastPage : (current + 5);
                let startPage = (current - 4) < 1 ? 1 : (current - 4);
                let pagination = [];

                while(startPage < current) {
                    pagination.push(this.generateLinks(startPage));
                    startPage++;
                }

                while(current <= endPage) {
                    pagination.push(this.generateLinks(current));
                    current++;
                }

                return pagination;
            },

            generateLinks(pageNumber) {
                let parts = this.nextUrl.split('=');

                return {
                    page: pageNumber,
                    url: parts[0] + '=' + pageNumber
                };
            },

            isCurrent(pageNumber) {
                return this.currentPage == pageNumber;
            },

            changePage(url) {
                this.$dispatch('change-page', url);
            }
        }
    }
</script>
