<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Users
                        <button class="btn btn-success btn-xs pull-right" @click.prevent="create">Assign User</button>
                    </div>

                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Agent</th>
                                <th>Warehouse</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="assignment in assignments">
                                <td>{{ assignment.user.name }}</td>
                                <td>{{ assignment.warehouse.Name }}</td>
                                <td class="text-center"><a href="#" @click.prevent="deleteAssignment(assignment)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>

                        <paginator v-if="showPaginator"
                                   :current-page="currentPage" :last-page="lastPage"
                                   :previous-url="previousUrl" :next-url="nextUrl"
                                   @change-page="navigate">
                        </paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-create" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        {{ inputForm.action == 'create' ? 'Add ' : 'Edit' }} Assignment.
                    </h4>
                </div>
                <form class="form-horizontal" role="form" @submit.prevent="persistChanges">
                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="inputForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in inputForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-md-12">Agent*</label>

                            <div class="col-md-12">
                                <select name="create" id="create" v-model="inputForm.user_id"
                                        class="form-control" multiple>
                                    <option v-for="user in users" :value="user.id">{{ user.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Warehouse*</label>

                            <div class="col-md-12">
                                <select id="warehouses" name="warehouses" v-model="inputForm.warehouse_id"
                                        class="form-control" multiple>
                                    <option v-for="warehouse in warehouses" :value="warehouse.WhseLink">{{ warehouse.Name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-success">
                            {{ inputForm.action == 'create' ? 'Create' : 'Update Changes' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { httpRequest } from '../../core/http';

    export default {
        ready() {
            this.getAssignment();
            this.setListeners();
        },
        data() {
            return {
                assignments: [],
                users: [],
                warehouses: [],
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null,
                    user_id: [],
                    warehouse_id: [],
                },
                currentPage: 1,
                lastPage: 1,
                previousUrl: '',
                nextUrl: '',
                showPaginator: false
            };
        },
        methods: {
            setListeners() {
                let that = this;

                $('#create').select2().on('change', function () {
                    that.inputForm.user_id = $(this).val();
                }).on('shown.bs.modal', () => {
                    $('#create-name').focus();
                });

                $('#warehouses').select2().on('change', function () {
                    that.inputForm.warehouse_id = $(this).val();
                });
            },
            getAssignment() {
                httpRequest(this, 'get', '/assignment', this.inputForm, this.updatePage);
            },
            navigate(uri) {
                httpRequest(this, 'get', uri, this.inputForm, this.updatePage);
            },
            resetForm() {
                this.inputForm.action = 'create';
                this.inputForm.errors = [];
                this.inputForm.id = null;
                this.inputForm.user_id = '';
                this.inputForm.warehouse_id = '';
            },
            persistChanges() {
                httpRequest(this, 'post', '/assignment', this.inputForm, this.postPersist);
            },
            updatePage(responseData) {
                this.showPaginator = false;
                if (! responseData.hasOwnProperty('data')) {
                    this.assignments = responseData;
                    return true;
                }
                this.assignments = responseData.data;
                this.currentPage = responseData.current_page;
                this.lastPage = responseData.last_page;
                this.previousUrl = responseData.prev_page_url;
                this.nextUrl = responseData.next_page_url;

                if (this.lastPage > 1) {
                    this.showPaginator = true;
                }

                this.$broadcast('updatePagination');
            },
            postPersist(responseData) {
                this.resetForm();
                $('#modal-create').modal('hide');
                notify('success', 'Assignment', 'Successfully updated assignments.');
                this.updatePage(responseData);
            },
            create() {
                this.resetForm();
                this.inputForm.action = 'create';
                httpRequest(this, 'get', '/assignment?users=true', this.inputForm, (response) => {
                    this.users = response;
                    httpRequest(this, 'get', '/assignment?warehouses=true', this.inputForm, (warehouseResponse) => {
                        this.warehouses = warehouseResponse;
                        $('#modal-create').modal('show');
                    });
                });
            },

            deleteAssignment(assignment) {
                notify('warning', 'Assignment', 'Deleting this assignment will prevent the user from transacting on the warehouse. Are you sure?', true, true, () => {
                    httpRequest(this, 'delete', '/assignment/' + assignment.id, this.inputForm, (response) => {
                        notify('success', 'Assignment', 'Successfully deleted assignment.');
                        this.updatePage(response);
                    });
                });
            }
        }
    }
</script>
