<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Users
                        <button class="btn btn-danger btn-xs pull-right" @click.prevent="import">Import From SAGE</button>
                        <!--<button class="btn btn-success btn-xs pull-right" @click.prevent="create">Add User</button>-->
                    </div>

                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>User Group</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in users">
                                <td><a href="#" @click.prevent="show(user)">{{ user.name }}</a></td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role.name }}</td>
                                <td class="text-center"><a href="#" @click.prevent="deleteUser(user)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>

                        <paginator v-if="showPaginator"
                                   :current-page="currentPage" :last-page="lastPage"
                                   :previous-url="previousUrl" :next-url="nextUrl"
                                   @change-page="navigate">
                        </paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="modal-create" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">
                        {{ inputForm.action == 'create' ? 'Add ' : 'Edit' }} User Group.
                    </h4>
                </div>
                <form class="form-horizontal" role="form" @submit.prevent="persistChanges">
                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="inputForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in inputForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name*</label>

                            <div class="col-md-7">
                                <input id="create-name" type="text" class="form-control"
                                       required v-model="inputForm.name" placeholder="John Doe">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email*</label>

                            <div class="col-md-7">
                                <input type="email" class="form-control"
                                       required v-model="inputForm.email" placeholder="johndoe@gmail.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Password*</label>

                            <div class="col-md-7">
                                <input type="password" class="form-control"
                                       v-model="inputForm.password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm Password*</label>

                            <div class="col-md-7">
                                <input type="password" class="form-control"
                                       v-model="inputForm.password_confirmation" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">User Role</label>

                            <div class="col-md-7">
                                <select class="form-control" v-model="inputForm.role_id">
                                    <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
                                </select>
                            </div>
                        </div>

                        <!-- Redirect URL -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h4>Permissions</h4>
                                <span class="help-block">
                                    Override User Group permissions.
                                </span>
                                <div class="row">
                                    <template v-for="(index, group) in permissions">
                                        <div class="col-sm-4">
                                            <h5>{{ index }}</h5>
                                            <div class="checkbox" v-for="permission in group">
                                                <label>
                                                    <input type="checkbox" v-model="inputForm.permissions[permission.id]"> {{ permission.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-success">
                            {{ inputForm.action == 'create' ? 'Create' : 'Update Changes' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { httpRequest } from '../../core/http';

    export default {
        ready() {
            this.getUsers();
            $('#modal-create').on('shown.bs.modal', () => {
                $('#create-name').focus();
            });
        },
        data() {
            return {
                users: [],
                roles: [],
                permissions: [],
                inputForm: {
                    action: 'create',
                    errors: [],
                    id: null,
                    name: '',
                    password: '',
                    password_confirmation: '',
                    email: '',
                    role_id: 2,
                    permissions: {}
                },
                currentPage: 1,
                lastPage: 1,
                previousUrl: '',
                nextUrl: '',
                showPaginator: false
            };
        },
        methods: {
            getUsers() {
                httpRequest(this, 'get', '/users', this.inputForm, this.updatePage);
            },
            navigate(uri) {
                httpRequest(this, 'get', uri, this.inputForm, this.updatePage);
            },
            resetForm() {
                this.inputForm.action = 'create';
                this.inputForm.errors = [];
                this.inputForm.id = null;
                this.inputForm.name = '';
                this.inputForm.password = '';
                this.inputForm.password_confirmation = '';
                this.inputForm.email = '';
                this.inputForm.role_id = 1;
                this.inputForm.permissions = {};
            },
            persistChanges() {
                if (this.inputForm.action == 'create') {
                    httpRequest(this, 'post', '/users', this.inputForm, this.postPersist);
                    return true;
                }

                httpRequest(this, 'put', '/users/' + this.inputForm.id, this.inputForm, this.postPersist);
            },
            updatePage(responseData) {
                this.showPaginator = false;
                if (! responseData.hasOwnProperty('data')) {
                    this.users = responseData;
                    return true;
                }
                this.users = responseData.data;
                this.currentPage = responseData.current_page;
                this.lastPage = responseData.last_page;
                this.previousUrl = responseData.prev_page_url;
                this.nextUrl = responseData.next_page_url;

                if (this.lastPage > 1) {
                    this.showPaginator = true;
                }

                this.$broadcast('updatePagination');
            },
            postPersist(responseData) {
                this.resetForm();
                $('#modal-create').modal('hide');
                notify('success', 'Users', 'Successfully updated user records.');
                this.updatePage(responseData);
            },
            create() {
                this.resetForm();
                this.inputForm.action = 'create';
                httpRequest(this, 'get', '/roles?permissions=true', this.inputForm, (response) => {
                    this.permissions = response;
                    httpRequest(this, 'get', '/roles?plain=true', this.inputForm, (roleResponse) => {
                        this.roles = roleResponse;
                        $('#modal-create').modal('show');
                    });
                });
            },
            import() {
                this.resetForm();
                httpRequest(this, 'get', '/users/import', this.inputForm, (response) => {
                    notify('success', 'Users', 'Successfully imported users.');
                    this.updatePage(response);
                })
            },
            show(user) {
                this.resetForm();
                this.inputForm.action = 'edit';
                this.inputForm.errors = [];
                this.inputForm.id = user.id;
                this.inputForm.name = user.name;
                this.inputForm.password = '';
                this.inputForm.password_confirmation = '';
                this.inputForm.email = user.email;
                this.inputForm.role_id = user.role_id;
                JSON.parse(user.permissions).forEach(value => {
                    this.inputForm.permissions[value] = true;
                });

                httpRequest(this, 'get', '/roles?permissions=true', this.inputForm, (response) => {
                    this.permissions = response;
                    httpRequest(this, 'get', '/roles?plain=true', this.inputForm, (roleResponse) => {
                        this.roles = roleResponse;
                        $('#modal-create').modal('show');
                    });
                });
            },
            deleteUser(user) {
                notify('warning', 'Users', 'Deleting this user will also delete his data in this system. Are you sure?', true, true, () => {
                    httpRequest(this, 'delete', '/users/' + user.id, this.inputForm, (response) => {
                        notify('success', 'Users', 'Successfully deleted user.');
                        this.updatePage(response);
                    });
                });
            }
        }
    }
</script>
